table {
  padding: 0; 
  thead {
    tr {
      background-color: #383838;
    }
  }
  tr {
    border-top: 1px solid #cccccc;
    background-color: #a9a9a9;
    margin: 0;
    padding: 0; 
    &:nth-child(2n) {
      background-color: #7d7d7d;
    }
  }
  th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px; 
  }
  td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px; 
  }
  th :first-child,  td :first-child {
    margin-top: 0; 
  }
  th :last-child,  td :last-child {
    margin-bottom: 0; 
  }
}

.seventh {
  width: 70%;
}

.third {
  width: 30%;
}

.sixth {
  width: 60%;
}

.fourth {
  width: 40%;
}

.half {
  width: 50%;
}

.half, .sixth, .fourth, .seventh, .third {
  &.left {
    float: left;
  }
  &.right {
    float: right;
  }
}

.half {
  .move-right {
    margin-left: 40%;
  }
}

.clear {
  clear: both;
}
